<!-- ========== HEADER ========== -->
<header id="header" class="u-header u-header--abs-top-md u-header--bg-transparent u-header--show-hide-md"
      data-header-fix-moment="500"
      data-header-fix-effect="slide">

<!-- SEARCH PANEL -->
<div id="searchPushTop" class="u-search-push-top bg-white" style="box-shadow: none !important;">
  <div class="container position-relative">
    <div class="u-search-push-top__content">
      <!-- Close Button -->
      <button type="button" class="close u-search-push-top__close-btn"
              aria-haspopup="true"
              aria-expanded="false"
              aria-controls="searchPushTop"
              data-unfold-type="jquery-slide"
              data-unfold-target="#searchPushTop">
        <span aria-hidden="true">&times;</span>
      </button>
      <!-- End Close Button -->

      <!-- Search Input -->
      <form class="js-focus-state input-group input-group-lg">
        <input type="search" class="form-control" placeholder="Search Avanan" aria-label="Search Avanan">
        <div class="input-group-append">
          <button type="button" class="btn btn-primary">Search</button>
        </div>
      </form>
      <!-- End Search Input -->

      <!-- Panel Content -->
      <div class="row d-none d-md-flex mt-7">
        <div class="col-sm-6">
          <strong class="d-block mb-2">Quick Links</strong>

          <div class="row">
            <!-- Quick Links Group One -->
            <div class="col-6">
              <div class="list-group list-group-transparent list-group-flush list-group-borderless">
                <a class="list-group-item list-group-item-action" href="#">
                  <span class="fas fa-angle-right list-group-icon"></span>
                  Office 365 Security
                </a>
                <a class="list-group-item list-group-item-action" href="#">
                  <span class="fas fa-angle-right list-group-icon"></span>
                  G Suite Security
                </a>
                <a class="list-group-item list-group-item-action" href="#">
                  <span class="fas fa-angle-right list-group-icon"></span>
                  Slack Security
                </a>
                <a class="list-group-item list-group-item-action" href="#">
                  <span class="fas fa-angle-right list-group-icon"></span>
                  Avanan Blog
                </a>
                <a class="list-group-item list-group-item-action" href="#">
                  <span class="fas fa-angle-right list-group-icon"></span>
                  Avanan in the News
                </a>
              </div>
            </div>
            <!-- End Quick Links Group One -->

            <!-- Quick Links Group Two -->
            <div class="col-6">
              <div class="list-group list-group-transparent list-group-flush list-group-borderless">
                <a class="list-group-item list-group-item-action" href="#">
                  <span class="fas fa-angle-right list-group-icon"></span>
                  Anti-Phishing
                </a>
                <a class="list-group-item list-group-item-action" href="#">
                  <span class="fas fa-angle-right list-group-icon"></span>
                  Malware Protection
                </a>
                <a class="list-group-item list-group-item-action" href="#">
                  <span class="fas fa-angle-right list-group-icon"></span>
                  DLP & Compliance
                </a>
                <a class="list-group-item list-group-item-action" href="#">
                  <span class="fas fa-angle-right list-group-icon"></span>
                  CASB/Shadow IT
                </a>
              </div>
            </div>
            <!-- End Quick Links Group Two -->
          </div>
        </div>

        <div class="col-sm-6">
          <!-- Promotional Item -->
          <div class="rounded u-search-push-top__banner text-center shadow p-3 mb-5 lift">
            <img style="width: 85%; height: auto; margin-bottom: 15px;" src="https://www.avanan.com/hubfs/Images/Webinars/gpr-webinar-featured.png">
          </div>
          <!-- End Promotional -->
        </div>
      </div>
      <!-- End Panel Content -->
    </div>
  </div>
</div>
<!-- End Search -->

<div class="u-header__section">
  <!-- Top Nav Section -->
  <div class="container u-header__hide-content pt-2">
    <div class="d-flex align-items-center">
      <!-- Language Dropdown -->
      <div class="position-relative">
        <a id="languageDropdownInvoker" class="dropdown-nav-link dropdown-toggle d-flex align-items-center" href="javascript:;" role="button"
           aria-controls="languageDropdown"
           aria-haspopup="true"
           aria-expanded="false"
           data-unfold-event="hover"
           data-unfold-target="#languageDropdown"
           data-unfold-type="css-animation"
           data-unfold-duration="300"
           data-unfold-delay="300"
           data-unfold-hide-on-scroll="true"
           data-unfold-animation-in="slideInUp"
           data-unfold-animation-out="fadeOut">
           <img class="dropdown-item-icon" src="assets/vendor/flag-icon-css/flags/4x3/us.svg" alt="SVG">
          <span class="d-inline-block d-sm-none">US</span>
          <span class="d-none d-sm-inline-block">United States</span>
        </a>

        <div id="languageDropdown" class="dropdown-menu dropdown-unfold" aria-labelledby="languageDropdownInvoker">
          <a class="dropdown-item active" href="#">English (US)</a>
          <a class="dropdown-item" href="#">English (UK)</a>
          <a class="dropdown-item" href="#">Hebrew</a>
          <a class="dropdown-item" href="#">Deutsch</a>
          <a class="dropdown-item" href="#">Español‎</a>
        </div>
      </div>
      <!-- End Language Dropdown -->

      <div class="ml-auto">
      </div>

      <ul class="list-inline ml-2 mb-0">
        <!-- Search Icon -->
        <li class="list-inline-item">
          <a class="u-header__navbar-link" href="javascript:;" role="button"
                  aria-haspopup="true"
                  aria-expanded="false"
                  aria-controls="searchPushTop"
                  data-unfold-type="jquery-slide"
                  data-unfold-target="#searchPushTop">
            <i class="fas fa-search"></i>
            <span class="d-none d-sm-inline-block">Search</span>
          </a>
        </li>
        <!-- End Search Icon -->

        <!-- Support Icon -->
        <li class="list-inline-item position-relative">
          <a class="u-header__navbar-link" href="#supportModal" role="button"
                  data-modal-target="#supportModal"
                  data-overlay-color="#111722">
            <i class="fas fa-headset"></i>
            <span class="d-none d-sm-inline-block">Support</span>
          </a>
        </li>
        <!-- End Support Icon -->

        <!-- Account Login Icon -->
        <li class="list-inline-item">
          <!-- Account Sidebar Toggle Button -->
          <a id="sidebarNavToggler" class="u-header__navbar-link" href="javascript:;" role="button"
              aria-controls="sidebarContent"
              aria-haspopup="true"
              aria-expanded="false"
              data-unfold-event="click"
              data-unfold-hide-on-scroll="false"
              data-unfold-target="#sidebarContent"
              data-unfold-type="css-animation"
              data-unfold-animation-in="fadeInRight"
              data-unfold-animation-out="fadeOutRight"
              data-unfold-duration="500">
            <i class="fas fa-user-circle font-size-1"></i>
            <span class="d-none d-sm-inline-block">Login</span>
          </a>
          <!-- End Account Sidebar Toggle Button -->
        </li>
        <!-- End Account Login Icon -->
      </ul>
    </div>
  </div>
  <!-- End Top Nav Section -->

  <div id="logoAndNav" class="container">
    <!-- Main Nav -->
    <nav class="js-mega-menu navbar navbar-expand-md u-header__navbar u-header__navbar--no-space">
      <!-- Logo -->
      <a class="navbar-brand u-header__navbar-brand u-header__navbar-brand-center" href="index.html" aria-label="Front">
        <img src="https://www.avanan.com/hubfs/marketing/website/jacob_redesign/logos/avanan-teal-logo-sm.png">
      </a>
      <!-- End Logo -->

      <!-- Responsive Toggle Button -->
      <button type="button" class="navbar-toggler btn u-hamburger"
              aria-label="Toggle navigation"
              aria-expanded="false"
              aria-controls="navBar"
              data-toggle="collapse"
              data-target="#navBar">
        <span id="hamburgerTrigger" class="u-hamburger__box">
          <span class="u-hamburger__inner"></span>
        </span>
      </button>
      <!-- End Responsive Toggle Button -->

      <!-- Navigation -->
      <div id="navBar" class="collapse navbar-collapse u-header__navbar-collapse">
        <ul class="navbar-nav u-header__navbar-nav">

          <!-- PLATFORM -->
          <li class="nav-item hs-has-sub-menu u-header__nav-item"
              data-event="hover"
              data-animation-in="slideInUp"
              data-animation-out="fadeOut">
            <a id="platformMenu" class="nav-link u-header__nav-link u-header__nav-link-toggle" href="javascript:;" aria-haspopup="true" aria-expanded="false" aria-labelledby="platformSubMenu">Platform</a>

            <!-- PLATFORM SUBMENU -->
            <ul id="platformSubMenu" class="hs-sub-menu u-header__sub-menu" aria-labelledby="platformMenu" style="min-width: 205px;">
              <!-- Office 365 -->
              <div class="u-header__promo-item">
                <a class="u-header__promo-link" href="#!">
                  <div class="media align-items-center">
                    <img class="u-header__promo-icon" src="https://www.avanan.com/hubfs/marketing/website/jacob_redesign/any-saas/transparent/tiny/office-365-tiny.png" alt="Office 365">
                    <div class="media-body">
                      <span class="u-header__promo-title">
                        Office 365
                      </span>
                    </div>
                  </div>
                </a>
              </div>
              <!-- End Office 365 -->
              
              <!-- G Suite -->
              <div class="u-header__promo-item">
                <a class="u-header__promo-link" href="#!">
                  <div class="media align-items-center">
                    <img class="u-header__promo-icon" src="https://www.avanan.com/hubfs/marketing/website/jacob_redesign/any-saas/transparent/tiny/google-tiny.png" alt="G Suite">
                    <div class="media-body">
                      <span class="u-header__promo-title">
                        G Suite
                      </span>
                    </div>
                  </div>
                </a>
              </div>
              <!-- End G Suite -->

              <!-- Slack -->
              <div class="u-header__promo-item">
                <a class="u-header__promo-link" href="#!">
                  <div class="media align-items-center">
                    <img class="u-header__promo-icon" src="https://www.avanan.com/hubfs/marketing/website/jacob_redesign/any-saas/transparent/tiny/new_slack_logo_sm.png" alt="Slack">
                    <div class="media-body">
                      <span class="u-header__promo-title">
                        Slack
                      </span>
                    </div>
                  </div>
                </a>
              </div>
              <!-- End Slack -->

              <!-- Dropbox -->
              <div class="u-header__promo-item">
                <a class="u-header__promo-link" href="#!">
                  <div class="media align-items-center">
                    <img class="u-header__promo-icon" src="https://www.avanan.com/hubfs/marketing/website/jacob_redesign/any-saas/transparent/tiny/dropbox-transparent-tiny.png" alt="Dropbox">
                    <div class="media-body">
                      <span class="u-header__promo-title">
                        Dropbox
                      </span>
                    </div>
                  </div>
                </a>
              </div>
              <!-- End Dropbox -->

              <!-- Google Drive -->
              <div class="u-header__promo-item">
                <a class="u-header__promo-link" href="#!">
                  <div class="media align-items-center">
                    <img class="u-header__promo-icon" src="https://www.avanan.com/hubfs/marketing/website/jacob_redesign/any-saas/transparent/tiny/google-drive-transparent-tiny.png" alt="Google Drive">
                    <div class="media-body">
                      <span class="u-header__promo-title">
                        Google Drive
                      </span>
                    </div>
                  </div>
                </a>
              </div>
              <!-- End Google Drive -->

              <!-- View All -->
              <div class="u-header__promo-item">
                <a class="u-header__promo-link" href="./saas.html">
                  <div class="media align-items-center">
                    <button hre class="btn btn-sm btn-primary btn-block lift">View All</button>
                  </div>
                </a>
              </div>
              <!-- End View All -->
            </ul>
            <!-- END PLATFORM SUBMENU -->
          </li>
          <!-- END PLATFORM -->


          <!-- SECURITY -->
          <li class="nav-item hs-has-sub-menu u-header__nav-item"
              data-event="hover"
              data-animation-in="slideInUp"
              data-animation-out="fadeOut">
            <a id="pagesMegaMenu" class="nav-link u-header__nav-link u-header__nav-link-toggle" href="javascript:;" aria-haspopup="true" aria-expanded="false" aria-labelledby="securitySubMenu">Security</a>

            <!-- SECURITY SUBMENU -->
            <ul id="securitySubMenu" class="hs-sub-menu u-header__sub-menu" aria-labelledby="pagesMegaMenu" style="min-width: 330px;">
              <!-- Anti-Phishing -->
              <div class="u-header__promo-item">
                <a class="u-header__promo-link" href="#!">
                  <div class="media align-items-center">
                    <img class="js-svg-injector u-header__promo-icon" src="https://www.avanan.com/hubfs/Website/website/jacob_redesign/any-saas/transparent/tiny/new/antiphishing.png" alt="Anti-Phishing">
                    <div class="media-body">
                      <span class="u-header__promo-title">
                        Anti-Phishing
                      </span>
                    </div>
                  </div>
                </a>
              </div>
              <!-- End Anti-Phishing -->
              
              <!-- Malware & Ransomware -->
              <div class="u-header__promo-item">
                <a class="u-header__promo-link" href="#!">
                  <div class="media align-items-center">
                    <img class="js-svg-injector u-header__promo-icon" src="https://www.avanan.com/hubfs/Website/website/jacob_redesign/any-saas/transparent/tiny/new/malware.png" alt="Malware & Ransomware">
                    <div class="media-body">
                      <span class="u-header__promo-title">
                        Malware & Ransomware
                      </span>
                    </div>
                  </div>
                </a>
              </div>
              <!-- End Malware & Ransomware -->

              <!-- Account Takeover Protection -->
              <div class="u-header__promo-item">
                <a class="u-header__promo-link" href="#!">
                  <div class="media align-items-center">
                    <img class="js-svg-injector u-header__promo-icon" src="https://www.avanan.com/hubfs/Website/website/jacob_redesign/any-saas/transparent/tiny/new/account-takeover.png" alt="Account Takeover Protection">
                    <div class="media-body">
                      <span class="u-header__promo-title">
                        Account Takeover Protection
                      </span>
                    </div>
                  </div>
                </a>
              </div>
              <!-- End Account Takeover Protection -->

              <!-- DLP & Compliance -->
              <div class="u-header__promo-item">
                <a class="u-header__promo-link" href="#!">
                  <div class="media align-items-center">
                    <img class="js-svg-injector u-header__promo-icon" src="https://www.avanan.com/hubfs/Website/website/jacob_redesign/any-saas/transparent/tiny/new/dlp.png" alt="DLP & Compliance">
                    <div class="media-body">
                      <span class="u-header__promo-title">
                        DLP & Compliance
                      </span>
                    </div>
                  </div>
                </a>
              </div>
              <!-- End DLP & Compliance -->

              <!-- CASB/Shadow IT -->
              <div class="u-header__promo-item">
                <a class="u-header__promo-link" href="#!">
                  <div class="media align-items-center">
                    <img class="js-svg-injector u-header__promo-icon" src="https://www.avanan.com/hubfs/Website/website/jacob_redesign/any-saas/transparent/tiny/new/casb.png" alt="CASB/Shadow IT">
                    <div class="media-body">
                      <span class="u-header__promo-title">
                        CASB/Shadow IT
                      </span>
                    </div>
                  </div>
                </a>
              </div>
              <!-- End CASB/Shadow IT -->

              <!-- SIEM Integration -->
              <div class="u-header__promo-item">
                <a class="u-header__promo-link" href="#!">
                  <div class="media align-items-center">
                    <img class="js-svg-injector u-header__promo-icon" src="https://www.avanan.com/hubfs/Website/website/jacob_redesign/any-saas/transparent/tiny/new/siem.png" alt="SIEM Integration">
                    <div class="media-body">
                      <span class="u-header__promo-title">
                        SIEM Integration
                      </span>
                    </div>
                  </div>
                </a>
              </div>
              <!-- End SIEM Integration -->

              <!-- View All -->
              <div class="u-header__promo-item">
                <a class="u-header__promo-link" href="#!">
                  <div class="media align-items-center">
                    <button class="btn btn-sm btn-primary btn-block lift">View All</button>
                  </div>
                </a>
              </div>
              <!-- End View All -->
            </ul>
            <!-- END SECURITY SUBMENU -->
          </li>
          <!-- END SECURITY -->


          <!-- HOW IT WORKS -->
          <li class="nav-item hs-has-sub-menu u-header__nav-item"
              data-event="hover"
              data-animation-in="slideInUp"
              data-animation-out="fadeOut">
            <a id="blogMegaMenu" class="nav-link u-header__nav-link" href="#!">How it Works</a>
          </li>
          <!-- END HOW IT WORKS -->


          <!-- RESOURCES -->
          <li class="nav-item hs-has-sub-menu u-header__nav-item"
              data-event="hover"
              data-animation-in="slideInUp"
              data-animation-out="fadeOut">
            <a id="resourcesMenu" class="nav-link u-header__nav-link u-header__nav-link-toggle" href="javascript:;" aria-haspopup="true" aria-expanded="false" aria-labelledby="resourcesSubMenu">Resources</a>

            <!-- RESOURCES SUBMENU -->
            <ul id="resourcesSubMenu" class="hs-sub-menu u-header__sub-menu" aria-labelledby="resourcesMenu" style="min-width: 205px;">
              <!-- Blog -->
              <div class="u-header__promo-item">
                <a class="u-header__promo-link" href="#!">
                  <div class="media align-items-center">
                    <img class="js-svg-injector u-header__promo-icon" src="https://www.avanan.com/hubfs/Website/website/jacob_redesign/any-saas/transparent/tiny/blog-dualtone.png" alt="Blog">
                    <div class="media-body">
                      <span class="u-header__promo-title">
                        Blog
                      </span>
                    </div>
                  </div>
                </a>
              </div>
              <!-- End Blog -->
              
              <!-- Comics -->
              <div class="u-header__promo-item">
                <a class="u-header__promo-link" href="#!">
                  <div class="media align-items-center">
                    <img class="js-svg-injector u-header__promo-icon" src="https://www.avanan.com/hubfs/Website/website/jacob_redesign/any-saas/transparent/tiny/comics-dualtone.png" alt="Comics">
                    <div class="media-body">
                      <span class="u-header__promo-title">
                        Comics
                      </span>
                    </div>
                  </div>
                </a>
              </div>
              <!-- End Comics -->

              <!-- Case Studies -->
              <div class="u-header__promo-item">
                <a class="u-header__promo-link" href="#!">
                  <div class="media align-items-center">
                    <img class="js-svg-injector u-header__promo-icon" src="https://www.avanan.com/hubfs/Website/website/jacob_redesign/any-saas/transparent/tiny/case-study-dualtone.png" alt="Case Studies">
                    <div class="media-body">
                      <span class="u-header__promo-title">
                        Case Studies
                      </span>
                    </div>
                  </div>
                </a>
              </div>
              <!-- End Case Studies -->
              
              <!-- Webinars -->
              <div class="u-header__promo-item">
                <a class="u-header__promo-link" href="#!">
                  <div class="media align-items-center">
                    <img class="js-svg-injector u-header__promo-icon" src="https://www.avanan.com/hubfs/Website/website/jacob_redesign/any-saas/transparent/tiny/webinar-dualtone.png" alt="Webinars">
                    <div class="media-body">
                      <span class="u-header__promo-title">
                        Webinars
                      </span>
                    </div>
                  </div>
                </a>
              </div>
              <!-- End Webinars -->

              <!-- White Papers -->
              <div class="u-header__promo-item">
                <a class="u-header__promo-link" href="#!">
                  <div class="media align-items-center">
                    <img class="js-svg-injector u-header__promo-icon" src="https://www.avanan.com/hubfs/Website/website/jacob_redesign/any-saas/transparent/tiny/white-paper-dualtone.png" alt="White Papers">
                    <div class="media-body">
                      <span class="u-header__promo-title">
                        White Papers
                      </span>
                    </div>
                  </div>
                </a>
              </div>
              <!-- End White Papers -->
              
              <!-- Videos -->
              <div class="u-header__promo-item">
                <a class="u-header__promo-link" href="#!">
                  <div class="media align-items-center">
                    <img class="js-svg-injector u-header__promo-icon" src="https://www.avanan.com/hubfs/Website/website/jacob_redesign/any-saas/transparent/tiny/videos-dualtone.png" alt="Videos">
                    <div class="media-body">
                      <span class="u-header__promo-title">
                        Videos
                      </span>
                    </div>
                  </div>
                </a>
              </div>
              <!-- End Videos -->

              <!-- View All -->
              <div class="u-header__promo-item">
                <a class="u-header__promo-link" href="#!">
                  <div class="media align-items-center">
                    <button class="btn btn-sm btn-primary btn-block lift">View All</button>
                  </div>
                </a>
              </div>
              <!-- End View All -->
            </ul>
            <!-- END RESOURCES SUBMENU -->
          </li>
          <!-- END RESOURCES -->


          <!-- COMPANY -->
          <li class="nav-item hs-has-sub-menu u-header__nav-item"
              data-event="hover"
              data-animation-in="slideInUp"
              data-animation-out="fadeOut">
            <a id="companyMenu" class="nav-link u-header__nav-link u-header__nav-link-toggle" href="javascript:;" aria-haspopup="true" aria-expanded="false" aria-labelledby="companySubMenu">Company</a>

            <!-- COMPANY SUBMENU -->
            <ul id="companySubMenu" class="hs-sub-menu u-header__sub-menu" aria-labelledby="companyMenu" style="min-width: 260px;">
              <!-- About Us -->
              <div class="u-header__promo-item">
                <a class="u-header__promo-link" href="#!">
                  <div class="media align-items-center">
                    <img class="js-svg-injector u-header__promo-icon" src="https://www.avanan.com/hubfs/Website/website/jacob_redesign/any-saas/transparent/tiny/about-us-dualtone.png" alt="About Us">
                    <div class="media-body">
                      <span class="u-header__promo-title">
                        About Us
                      </span>
                    </div>
                  </div>
                </a>
              </div>
              <!-- End About Us -->
              
              <!-- Partnerships -->
              <div class="u-header__promo-item">
                <a class="u-header__promo-link" href="#!">
                  <div class="media align-items-center">
                    <img class="js-svg-injector u-header__promo-icon" src="https://www.avanan.com/hubfs/Website/website/jacob_redesign/any-saas/transparent/tiny/partners-dualtone.png" alt="Partnerships">
                    <div class="media-body">
                      <span class="u-header__promo-title">
                        Partnerships
                      </span>
                    </div>
                  </div>
                </a>
              </div>
              <!-- End Partnerships -->

              <!-- Management Team -->
              <div class="u-header__promo-item">
                <a class="u-header__promo-link" href="#!">
                  <div class="media align-items-center">
                    <img class="js-svg-injector u-header__promo-icon" src="https://www.avanan.com/hubfs/Website/website/jacob_redesign/any-saas/transparent/tiny/mgmt-team-dualtone.png" alt="Management Team">
                    <div class="media-body">
                      <span class="u-header__promo-title">
                        Management Team
                      </span>
                    </div>
                  </div>
                </a>
              </div>
              <!-- End Management Team -->

              <!-- Board of Directors -->
              <div class="u-header__promo-item">
                <a class="u-header__promo-link" href="#!">
                  <div class="media align-items-center">
                    <img class="js-svg-injector u-header__promo-icon" src="https://www.avanan.com/hubfs/Website/website/jacob_redesign/any-saas/transparent/tiny/board-dualtone.png" alt="Board of Directors">
                    <div class="media-body">
                      <span class="u-header__promo-title">
                        Board of Directors
                      </span>
                    </div>
                  </div>
                </a>
              </div>
              <!-- End Board of Directors -->

              <!-- Contact Us -->
              <div class="u-header__promo-item">
                <a class="u-header__promo-link" href="#!">
                  <div class="media align-items-center">
                    <img class="js-svg-injector u-header__promo-icon" src="https://www.avanan.com/hubfs/Website/website/jacob_redesign/any-saas/transparent/tiny/contact-us-dualtone.png" alt="Contact Us">
                    <div class="media-body">
                      <span class="u-header__promo-title">
                        Contact Us
                      </span>
                    </div>
                  </div>
                </a>
              </div>
              <!-- End Contact Us -->
            </ul>
            <!-- END COMPANY SUBMENU -->
          </li>
          <!-- END COMPANY -->


          <!-- Nav CTA Button -->
          <li class="nav-item u-header__nav-last-item">
            <a class="btn btn-sm btn-danger transition-3d-hover" href="#!">
              Request Demo
            </a>
          </li>
          <!-- End Nav CTA Button -->
        </ul>
      </div>
      <!-- End Navigation -->
    </nav>
    <!-- End Main Nav -->
  </div>
</div>
</header>
<!-- ========== END HEADER ========== -->



<!-- Shopping Cart Modal Window -->
<div id="supportModal" class="js-modal-window u-modal-window" style="width: 370px;">
<div class="card">
  <!-- Header -->
  <header class="card-header bg-light py-3 px-5">
    <div class="d-flex justify-content-between align-items-center">
      <h3 class="h6 mb-0">Avanan Support</h3>

      <button type="button" class="close" aria-label="Close" onclick="Custombox.modal.close();">
        <span aria-hidden="true">×</span>
      </button>
    </div>
  </header>
  <!-- End Header -->

  <!-- Body -->
  <div class="card-body text-center p-5">
    <!-- Card -->
    <div class="card card-frame mb-2">
      <div class="card-body">
        <div class="media d-sm-flex justify-content-sm-between align-items-sm-center">
          <div class="u-avatar mr-3">
            <img class="img-fluid mb-2 mb-sm-0" src="https://www.avanan.com/hubfs/Website/website/jacob_redesign/any-saas/transparent/tiny/documentation-dualtone.png" alt="Documentation">
          </div>
          <div class="media-body mb-2 mb-sm-0 mt-3 mt-sm-2">
            <h4 class="h6 mb-0">Documentation</h4>
          </div>
        </div>
      </div>
    </div>
    <!-- End Card -->

    <!-- Card -->
    <div class="card card-frame mb-2">
      <div class="card-body">
        <div class="media d-sm-flex justify-content-sm-between align-items-sm-center">
          <div class="u-avatar mr-3">
            <img class="img-fluid mb-2 mb-sm-0" src="https://www.avanan.com/hubfs/Website/website/jacob_redesign/any-saas/transparent/tiny/call-dualtone.png" alt="Call Us">
          </div>
          <div class="media-body mb-2 mb-sm-0 mt-3 mt-sm-2">
            <h4 class="h6 mb-0">Call Us</h4>
          </div>
        </div>
      </div>
    </div>
    <!-- End Card -->

    <!-- Card -->
    <div class="card card-frame mb-2">
      <div class="card-body">
        <div class="media d-sm-flex justify-content-sm-between align-items-sm-center">
          <div class="u-avatar mr-3">
            <img class="img-fluid mb-2 mb-sm-0" src="https://www.avanan.com/hubfs/Website/website/jacob_redesign/any-saas/transparent/tiny/live-chat-dualtone.png" alt="Live Chat">
          </div>
          <div class="media-body mb-2 mb-sm-0 mt-3 mt-sm-2">
            <h4 class="h6 mb-0">Live Chat</h4>
          </div>
        </div>
      </div>
    </div>
    <!-- End Card -->
  </div>
  <!-- End Body -->

</div>
</div>
<!-- End Shopping Cart Modal Window -->