/* PHONES IN PORTRAIT col-3 */
@media (max-width: 576px) {
  
}


/* PHONES IN LANDSCAPE col-sm-3 */
@media (min-width: 576px) and (max-width: 768px) {
  
}


/* TABLETS col-md-3 */
@media (min-width: 768px) and (max-width: 992px) {
  
}


/* LAPTOPS  col-lg-3 */
@media (min-width: 992px) and (max-width: 1200px) {
  
}


/* DESKTOPS col-xl-3 */
@media (min-width: 1200px) and (max-width: 1500px) {
  
}


/* LARGE DESKTOPS */
@media (min-width: 1500px) {
   
}


/** {
background: #000 !important;
color: #0f0 !important;
outline: solid #f00 1px !important;
}*/