.img-skewed {
  perspective: 1500px
}

.img-skewed-left {
  perspective-origin: 0
}

.img-skewed-left .img-skewed-item {
  transform: rotateY(-35deg) rotateX(15deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden
}

.img-skewed-right {
  perspective-origin: 100%
}

.img-skewed-right .img-skewed-item {
  transform: rotateY(35deg) rotateX(15deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden
}

.screenshot {
border-radius: 0.625rem;
box-shadow: 25px 60px 125px -25px rgba(80, 102, 144, 0.1), 16px 40px 75px -40px rgba(0, 0, 0, 0.2); 
}


[data-aos=img-skewed-item-left],
[data-aos=img-skewed-item-right] {
  opacity: 0;
  transition-property: transform, opacity;
  will-change: transform, opacity
}

[data-aos=img-skewed-item-left].aos-animate,
[data-aos=img-skewed-item-right].aos-animate {
  opacity: 1
}

[data-aos=img-skewed-item-left] {
  transform: rotateY(-20deg) rotateX(5deg) translate3d(0, 100px, 0)
}

[data-aos=img-skewed-item-left].aos-animate {
  transform: rotateY(-35deg) rotateX(15deg) translateZ(0)
}

[data-aos=img-skewed-item-right] {
  transform: rotateY(20deg) rotateX(5deg) translate3d(0, 100px, 0)
}

[data-aos=img-skewed-item-right].aos-animate {
  transform: rotateY(35deg) rotateX(15deg) translateZ(0)
}

[data-aos^=fade][data-aos^=fade] {
  opacity: 0;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform
}
[data-aos^=fade][data-aos^=fade].aos-animate {
  opacity: 1;
  -webkit-transform: none;
  transform: none
}

[data-aos=fade-up] {
  -webkit-transform: translate3d(0, 100px, 0);
  transform: translate3d(0, 100px, 0)
}
[data-aos=fade-down] {
  -webkit-transform: translate3d(0, -100px, 0);
  transform: translate3d(0, -100px, 0)
}
[data-aos=fade-right] {
  -webkit-transform: translate3d(-100px, 0, 0);
  transform: translate3d(-100px, 0, 0)
}
[data-aos=fade-left] {
  -webkit-transform: translate3d(100px, 0, 0);
  transform: translate3d(100px, 0, 0)
}

.shape {
  position: absolute
}

.shape>img,
.shape>svg {
  display: block
}

.shape:not([class*=blur]) {
  overflow: hidden
}

.shape:not([class*=blur])>img,
.shape:not([class*=blur])>svg {
  transform: scale(1.001)
}

@media (-ms-high-contrast:active),
(-ms-high-contrast:none) {
  .shape>svg {
      display: none
  }
}

.shape-top {
  top: -.75px;
  right: -.75px;
  left: -.75px
}

.shape-top>img,
.shape-top>svg {
  transform-origin: top center
}

.shape-right {
  top: -.75px;
  right: -.75px;
  bottom: -.75px
}

.shape-right>img,
.shape-right>svg {
  transform-origin: right center;
  margin-left: auto
}

.shape-bottom {
  right: -.75px;
  bottom: -.75px;
  left: -.75px
}

.shape-bottom>img,
.shape-bottom>svg {
  transform-origin: bottom center
}

.shape-left {
  top: -.75px;
  bottom: -.75px;
  left: -.75px
}

.shape-left>img,
.shape-left>svg {
  transform-origin: left center
}

.shape-fluid-x>img,
.shape-fluid-x>svg {
  width: calc(100% + 1.5px);
  height: auto
}

.shape-fluid-y>img,
.shape-fluid-y>svg {
  height: calc(100% + 1.5px);
  width: auto
}

.shape-fluid-y {
  width: 100%;
  pointer-events: none
}

.shape-flip-x {
  transform: scaleX(-1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden
}

.shape-blur-1 {
  top: 0;
  right: 0;
  left: 0
}

.shape-blur-1>img,
.shape-blur-1>svg {
  width: 100%;
  height: auto
}

@media (min-width:992px) {
  .shape-blur-1 {
      bottom: 0;
      left: 50%;
      right: auto
  }
  .shape-blur-1>img,
  .shape-blur-1>svg {
      width: auto;
      height: 100%
  }
}

.shape-blur-2 {
  top: 0;
  right: 0;
  left: 0
}

.shape-blur-2>img,
.shape-blur-2>svg {
  width: 100%;
  height: auto
}

@media (min-width:768px) {
  .shape-blur-2 {
      bottom: 0;
      right: 50%;
      left: auto
  }
  .shape-blur-2>img,
  .shape-blur-2>svg {
      width: auto;
      height: 100%;
      float: right
  }
}

.shape-blur-4 {
  top: 0;
  bottom: 0;
  left: 50%
}

.shape-blur-4>img,
.shape-blur-4>svg {
  width: auto;
  height: 100%;
  transform: translateX(-50%) scale(1.3)
}


.text-gray-100 {
  color: #f9fbfd!important
}

.text-gray-200 {
  color: #f1f4f8!important
}

.text-gray-300 {
  color: #d9e2ef!important
}

.text-gray-400 {
  color: #c6d3e6!important
}

.text-gray-500 {
  color: #abbcd5!important
}

.text-gray-600 {
  color: #869ab8!important
}

.text-gray-700 {
  color: #506690!important
}

.text-gray-800 {
  color: #384c74!important
}

.text-gray-900 {
  color: #2b354f!important
}

.text-white-70 {
  color: hsla(0, 0%, 100%, .7)!important
}

.text-white-75 {
  color: hsla(0, 0%, 100%, .75)!important
}

.text-white-80 {
  color: hsla(0, 0%, 100%, .8)!important
}

.lift {
  transition: box-shadow .25s ease, transform .25s ease
}

.lift:focus,
.lift:hover {
  box-shadow: 0 1rem 2.5rem rgba(22, 28, 45, .1), 0 .5rem 1rem -.75rem rgba(22, 28, 45, .1)!important;
  transform: translate3d(0, -3px, 0)
}

.lift-lg:focus,
.lift-lg:hover {
  box-shadow: 0 2rem 5rem rgba(22, 28, 45, .1), 0 .5rem 1rem -.75rem rgba(22, 28, 45, .05)!important;
  transform: translate3d(0, -5px, 0)
}


/*===== UPDATED SHAPE-BLUR-1 FOR HUBSPOT =====*/

/* PHONES IN PORTRAIT col-3 */
@media (max-width: 576px) {
  .shape-blur-1 {
    top: 0;
    right: 0;
    left: 0;
    width: 85%;
    margin: 0 auto;
  }
}


/* PHONES IN LANDSCAPE col-sm-3 */
@media (min-width: 576px) and (max-width: 768px) {
  .shape-blur-1 {
    top: 0;
    right: 0;
    left: 0;
    width: 75%;
    margin: 0 auto;
  }
}


/* TABLETS col-md-3 */
@media (min-width: 768px) and (max-width: 992px) {

}


/* LAPTOPS  col-lg-3 */
@media (min-width: 992px) and (max-width: 1200px) {
  
}


/* DESKTOPS col-xl-3 */
@media (min-width: 1200px) and (max-width: 1500px) {
  
}


/* LARGE DESKTOPS */
@media (min-width: 1500px) {
   
}