body {
  font-family: "Poppins", Arial !important;
  color: #222 !important;
}

.positionLink, .clickableLink {
	color: #5385bd !important;
}

.positionDetails, .suggestEmployee, .company-links, .regularLink, .company-description, .userDesignedContent, p {
	color: #788487 !important;
}

.brandBottomLine {
  border-bottom: 1px solid #788487 !important;
}

.brandTopLine {
  border-top: 1px solid #788487 !important;
}

.brandColoredText {
	color: #222 !important;
}

.brandColoredButton {
	color: #fff !important;
  background-color: #5385bd !important;
  border-color: #5385bd !important;
}

.brandColoredButton:hover {
	color: #fff !important;
  background-color: #5a8fc4 !important;
  border-color: #5a8fc4 !important;
}

.brandColoredButton:focus {
	box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .5) !important;
}

.positionsList .positionItem {
  border: 1px solid #eaeaea !important;
  border-radius: 5px !important;
}

.userDesignedContent li {
  padding-top: 1px !important;
  padding-bottom: 1px !important;
  margin-left: 20px !important;
}

h2.smallTitle {
  font-size: 15px !important;
  text-transform: uppercase !important;
  font-weight: bold !important;
  text-decoration: underline !important;
}

.userDesignedContent ul, .userDesignedContent ol {
  padding-top: 5px !important;
  padding-bottom: 20px !important;
}

.userDesignedContent, .userDesignedContent h1, .userDesignedContent p, .userDesignedContent ul, .userDesignedContent ol {
  font-weight: normal !important;
  font-size: 15px !important;
  line-height: 150% !important;
  margin-right: 15px !important;
  margin-bottom: 10px !important;
}